[buildout]
extensions=mr.developer
dump-picked-versions-file=versions.cfg
parts=
    tools
    eggproxy.conf
    zptlint
    pyflakes

auto-checkout = *
versions = versions

[versions]
#ZopeSkel=2.21.2

[eggproxy.conf]
recipe = collective.recipe.template
input = etc/eggproxy.conf.in
output = etc/eggproxy.conf

[tools]
recipe=zc.recipe.egg
eggs=
    i18ndude
    zest.releaser
    zest.pocompile
    PasteScript
    templer.core
    templer.buildout
    templer.zope
    templer.plone
    templer.dexterity
    templer.plonebuildout
    templer.localcommands
    templer.plone.localcommands
    ZopeSkel
    setuptools-git
    docutils
    toutpt.zopeskel
    collective.eggproxy
    Sphinx
interpreter=python

[zptlint]
recipe = zc.recipe.egg
eggs =
   zptlint
entry-points = zptlint-bin=zptlint:run

[pyflakes]
recipe = zc.recipe.egg
eggs =
   pyflakes
entry-points = pyflakes-bin=pyflakes.scripts.pyflakes:main

[sources]
ZopeSkel = git ${remotes:collective}/ZopeSkel.git pushurl=${remotes:collective_push}/ZopeSkel.git
templer.core = git ${remotes:collective}/templer.core.git pushurl=${remotes:collective_push}/templer.core.git
templer.buildout = git ${remotes:collective}/templer.buildout.git pushurl=${remotes:collective_push}/templer.buildout.git
templer.zope = git ${remotes:collective}/templer.zope.git pushurl=${remotes:collective_push}/templer.zope.git
templer.plone = git ${remotes:collective}/templer.plone.git pushurl=${remotes:collective_push}/templer.plone.git
templer.dexterity = git ${remotes:collective}/templer.dexterity.git pushurl=${remotes:collective_push}/templer.dexterity.git
templer.plonebuildout = git ${remotes:collective}/templer.plonebuildout.git pushurl=${remotes:collective_push}/templer.plonebuildout.git
templer.localcommands = git ${remotes:collective}/templer.localcommands.git pushurl=${remotes:collective_push}/templer.localcommands.git
templer.plone.localcommands = git ${remotes:collective}/templer.plone.localcommands.git pushurl=${remotes:collective_push}/templer.plone.localcommands.git

toutpt.zopeskel = git git://github.com/toutpt/toutpt.zopeskel.git

[remotes]
collective = git://github.com/collective
collective_push = git@github.com:collective
